{"swagger": "2.0", "info": {"title": "Tenovi Hardware Integration (HWI) API", "version": "v1"}, "host": "api2.tenovi.com", "schemes": ["https"], "basePath": "/clients/CLIENT_DOMAIN/hwi/", "consumes": ["application/json"], "produces": ["application/json"], "securityDefinitions": {"Api-Key": {"type": "apiKey", "name": "Authorization", "in": "header", "description": "Prefix your API key with \"Api-Key \" to authorize requests.\nFor example, the full header would be `Authorization: Api-Key TENOVI_API_KEY`"}}, "security": [{"Api-Key": []}], "paths": {"/gateway-info/{gateway_uuid__iexact}/": {"get": {"operationId": "gateway-info_read", "summary": "Get detailed information about a single gateway that has been previously associated with your account.", "description": "NOTE, This endpoint can only be used for retrieving information about gateways that have either been\npreviously linked with one or more of your own devices (e.g. via an Activation/Fulfillment request) or\nPre-Activated via a bulk order.\nIt can NOT be used to \"pre-validate\" a gateway ID that is not already associated with your account.\n\nThe 12-digit Gateway ID must be included in the URL with NO HYPHENS.\n\nFor the last_signal_strength field, a signal strength value of 30 or above is considered excellent,\nwhile a signal strength value of 10 or below is considered poor.\n\nThe last_checkin_time field indicates the last time the Gateway connected to our network.\n\nThe assigned_on field indicates when the gateway was assigned to your client account.\n\nThe shipped_on field indicates when the gateway was dropshipped by Tenovi (if applicable).\n\nThe whitelisted_devices field provides a JSON list of devices (by sensor_code) whitelisted with this gateway.\nNote, only one device per sensor_code can be whitelisted to a Gateway at one time.\nUse the hwi-device-types endpoint or see tenovi.com/api-docs to match sensor_codes to devices.\nValid options for the \"status\" field are: \"RE\" (for Requested) and \"CO\" (for Confirmed)\n\n(DEPRECATED) This endpoint will also return a list of key-value properties for each gateway", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/GatewayInfo"}}}, "tags": ["hwi-gateway-info"]}, "parameters": [{"name": "gateway_uuid__iexact", "in": "path", "required": true, "type": "string"}]}, "/hardware-uuid-logs/": {"get": {"operationId": "hardware-uuid-logs_list", "summary": "Lists all changes to the Hardware UUID for HWI Devices", "description": "Note, the \"hwi-device-id\" value is stored in the \"object_id\" field for this history table, as it is used to log\nchanges for multiple device types.\n\nYou can optionally filter by a specific hwi-device-id using the \"object_id\" query parameter to get the history of a\nsingle device. You can also search for all records with a given hardware_uuid using the \"search\" query parameter", "parameters": [{"name": "object_id", "in": "query", "description": "object_id", "required": false, "type": "string"}, {"name": "search", "in": "query", "description": "A search term.", "required": false, "type": "string"}], "responses": {"200": {"description": "", "schema": {"type": "array", "items": {"$ref": "#/definitions/HardwareUuidLogs"}}}}, "tags": ["hwi-hardware-uuid-logs"]}, "parameters": []}, "/hwi-bulk-orders/": {"get": {"operationId": "hwi-bulk-orders_list", "summary": "Lists all Bulk Order Requests. If getting a list, results will be paginated.", "description": "Use the query parameter \"fulfilled\" to filter your responses by Bulk Order Requests that have been fulfilled or not.\n\nUse the page and page_size parameters to control the pagination. Set page_size=0 to return all objects.\n\nThe fields included are defined as follows:\n\n    {\n        \"id\": \"12345678-abcd-1234-abcd-1234567890ab\",  // the root order id\n        \"created\": \"2024-05-11T12:00:00.000000Z\",  // The date & time the order was created\n        \"updated\": \"2024-05-11T12:00:00.000000Z\",  // The date & time the order was last updated\n        \"order_number\": \"240123\",  // The Bulk Order number shown on the Tenovi Web App\n        \"shipping_name\": \"First Last\",\n        \"shipping_address\": \"123 Tenovi St\",\n        \"shipping_city\": \"Portsmouth\",\n        \"shipping_state\": \"NH\",\n        \"shipping_zip_code\": \"12345\",\n        \"shipping_status\": \"Pending\",\n            // Readable order status: Requested, Client Action Required, Pending, Shipped, or Delivered\n        \"shipping_tracking_link\": \"https://tenovi.com\",  // The tracking link, if the order has shipped,\n        \"fulfilled\": True,\n        \"requested_by\": \"jdoe@tenovi.com\",  // The user that requested this order\n        \"shipped_on\": \"2024-05-11T12:00:00.000000Z\",\n        \"delivered_on\": \"2024-05-18T12:00:00.000000Z\",\n        \"notify_emails\": \"jdoe@tenovi.com,rsmith@tenovi.com\",\n        \"contents\": [\n            {\n                \"name\": \"Tenovi BPM - L\",  // The name of the included device/supply item\n                \"quantity: 10,  // The quantity\n                \"kit_id\": 0,  // The Kit ID. 0 indicates the item was shipped separately. Items with a matching\n                              // kit_id > 0 were kitted together by Tenovi\n            },\n            ...\n        ]\n        \"manifest\": [\n            {\n                \"order_section\": \"Loose Items\",\n                \"kitted_items\": [],\n                \"loose_items\": [\n                    {\n                        \"imei\": \"123123123123123\",\n                        \"device_type\": \"Tenovi Cellular Pulse Ox\"\n                    },\n                    ...\n                ]\n            },\n            {\n                \"order_section\": \"Kit 1\",\n                \"kitted_items\": [\n                    {\n                        \"kit_number\": 0,\n                        \"gateway_id\": \"1234ABCD1234\",\n                        \"contents\": [\n                            {\n                                \"device_type\": \"Gateway\",\n                                \"gateway_id\": \"1234ABCD1234\"\n                            },\n                            {\n                                \"device_type\": \"Tenovi BPM - L\",\n                                \"mac_address\": \"1A2B3C2A2B2C\"\n                            }\n                        ]\n                    },\n                    ...\n                ],\n                \"loose_items\": []\n            }\n        ]\n    }", "parameters": [{"name": "fulfilled", "in": "query", "description": "fulfilled", "required": false, "type": "string"}, {"name": "search", "in": "query", "description": "A search term.", "required": false, "type": "string"}, {"name": "page", "in": "query", "description": "A page number within the paginated result set.", "required": false, "type": "integer"}, {"name": "page_size", "in": "query", "description": "Number of results to return per page.", "required": false, "type": "integer"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/HwiBulkOrders"}}}}}}, "tags": ["hwi-bulk-orders"]}, "parameters": []}, "/hwi-bulk-orders/{id}/": {"get": {"operationId": "hwi-bulk-orders_read", "summary": "Lists all Bulk Order Requests. If getting a list, results will be paginated.", "description": "Use the query parameter \"fulfilled\" to filter your responses by Bulk Order Requests that have been fulfilled or not.\n\nUse the page and page_size parameters to control the pagination. Set page_size=0 to return all objects.\n\nThe fields included are defined as follows:\n\n    {\n        \"id\": \"12345678-abcd-1234-abcd-1234567890ab\",  // the root order id\n        \"created\": \"2024-05-11T12:00:00.000000Z\",  // The date & time the order was created\n        \"updated\": \"2024-05-11T12:00:00.000000Z\",  // The date & time the order was last updated\n        \"order_number\": \"240123\",  // The Bulk Order number shown on the Tenovi Web App\n        \"shipping_name\": \"First Last\",\n        \"shipping_address\": \"123 Tenovi St\",\n        \"shipping_city\": \"Portsmouth\",\n        \"shipping_state\": \"NH\",\n        \"shipping_zip_code\": \"12345\",\n        \"shipping_status\": \"Pending\",\n            // Readable order status: Requested, Client Action Required, Pending, Shipped, or Delivered\n        \"shipping_tracking_link\": \"https://tenovi.com\",  // The tracking link, if the order has shipped,\n        \"fulfilled\": True,\n        \"requested_by\": \"jdoe@tenovi.com\",  // The user that requested this order\n        \"shipped_on\": \"2024-05-11T12:00:00.000000Z\",\n        \"delivered_on\": \"2024-05-18T12:00:00.000000Z\",\n        \"notify_emails\": \"jdoe@tenovi.com,rsmith@tenovi.com\",\n        \"contents\": [\n            {\n                \"name\": \"Tenovi BPM - L\",  // The name of the included device/supply item\n                \"quantity: 10,  // The quantity\n                \"kit_id\": 0,  // The Kit ID. 0 indicates the item was shipped separately. Items with a matching\n                              // kit_id > 0 were kitted together by Tenovi\n            },\n            ...\n        ]\n        \"manifest\": [\n            {\n                \"order_section\": \"Loose Items\",\n                \"kitted_items\": [],\n                \"loose_items\": [\n                    {\n                        \"imei\": \"123123123123123\",\n                        \"device_type\": \"Tenovi Cellular Pulse Ox\"\n                    },\n                    ...\n                ]\n            },\n            {\n                \"order_section\": \"Kit 1\",\n                \"kitted_items\": [\n                    {\n                        \"kit_number\": 0,\n                        \"gateway_id\": \"1234ABCD1234\",\n                        \"contents\": [\n                            {\n                                \"device_type\": \"Gateway\",\n                                \"gateway_id\": \"1234ABCD1234\"\n                            },\n                            {\n                                \"device_type\": \"Tenovi BPM - L\",\n                                \"mac_address\": \"1A2B3C2A2B2C\"\n                            }\n                        ]\n                    },\n                    ...\n                ],\n                \"loose_items\": []\n            }\n        ]\n    }", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/HwiBulkOrders"}}}, "tags": ["hwi-bulk-orders"]}, "parameters": [{"name": "id", "in": "path", "required": true, "type": "string"}]}, "/hwi-device-types/": {"get": {"operationId": "hwi-device-types_list", "summary": "Retrieves valid device types for your account.", "description": "These can be used to activate/request new devices via the hwi-devices endpoint using the \"name\" field.\nThis endpoint can also be used to get static images of devices, or to get the up-front and shipping fees for\nspecific devices.", "parameters": [{"name": "search", "in": "query", "description": "A search term.", "required": false, "type": "string"}], "responses": {"200": {"description": "", "schema": {"type": "array", "items": {"$ref": "#/definitions/HwiDeviceType"}}}}, "tags": ["hwi-device-types"]}, "parameters": []}, "/hwi-device-types/{id}/": {"get": {"operationId": "hwi-device-types_read", "summary": "Retrieves valid device types for your account.", "description": "These can be used to activate/request new devices via the hwi-devices endpoint using the \"name\" field.\nThis endpoint can also be used to get static images of devices, or to get the up-front and shipping fees for\nspecific devices.", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/HwiDeviceType"}}}, "tags": ["hwi-device-types"]}, "parameters": [{"name": "id", "in": "path", "required": true, "type": "string"}]}, "/hwi-devices/": {"get": {"operationId": "hwi-devices_list", "summary": "Lists all or Reads a single HWI Device", "description": "To read a single HWI Device, the ID must be included in the URL.", "parameters": [{"name": "device__hardware_uuid__iexact", "in": "query", "description": "device__hardware_uuid__iexact", "required": false, "type": "string"}, {"name": "device__hardware_uuid", "in": "query", "description": "device__hardware_uuid", "required": false, "type": "string"}, {"name": "patient__external_id", "in": "query", "description": "patient__external_id", "required": false, "type": "string"}, {"name": "properties__key", "in": "query", "description": "properties__key", "required": false, "type": "string"}, {"name": "properties__value", "in": "query", "description": "properties__value", "required": false, "type": "string"}, {"name": "search", "in": "query", "description": "A search term.", "required": false, "type": "string"}], "responses": {"200": {"description": "", "schema": {"type": "array", "items": {"$ref": "#/definitions/HwiDevice"}}}}, "tags": ["hwi-devices"]}, "post": {"operationId": "hwi-devices_create", "summary": "Creates a new HWI Device with optional Fulfillment Request", "description": "A nested Device object is required. Within this object, the Device name must exactly match the name of a\nDevice Type associated with your account. You may use the hwi-device-types endpoint to view a complete list\nof Device Types associated with your account.\n\nIf you want to link a HWI Device to a specific Tenovi Gateway, include the Gateway ID with no hyphens in the\nhardware_uuid field of the nested Device object. For Transtek devices, this field should be the IMEI number\nprinted on the box. Note: The request will still succeed even if you use an invalid Gateway ID, but the\nstatus field in the returned data will be \"Unknown Gateway ID\".\n\nFor Gateway-connected devices, every Device Type has a Sensor Code that represents its device family (for\nexample, all BPM devices use Sensor Code = 10). For most Device Types, only one Device per Sensor Code can be\nassociated with a single Gateway at a time, even if they have different names. However, some Device Types also\nrequire an additional \"sensor_id\" to be included, which is used to allow multiple Devices with the same Sensor\nCode to be associated with a single Gateway. Please refer to tenovi.com/hwi-device-overview/ for more details\nregarding the \"sensor_id\" values required for specific Device Types. Please refer to the hwi-device-types\nendpoint to lookup the Sensor Code for each Device Type and whether or not a sensor_id is required.\n\nIf you need a device to be dropshipped to a specific user, a nested Fulfillment Request object must be included\nin the Device object and the hardware_uuid field must be set to NULL (if you want a Gateway to be included with\nthe device) or to an existing Gateway ID (if, for example, a patient already has a Gateway with one device, and\nyou simply want a second device sent to them without a new Gateway).\n\nNote, the Fulfillment Request object has three optional flags: \"client_will_fulfill\", \"require_signature\", and\n\"ship_gateway_only\".\n\nSet the \"client_will_fulfill\" flag to TRUE if you wish to complete a Fulfillment Request internally (via the\nTenovi  dashboard). Otherwise, Tenovi will complete the request (shipping and device charges may apply).\n\nSet the \"require_signature\" flag to TRUE to request signature confirmation of delivery. Additional charges may\napply.\n\nSet the \"ship_gateway_only\" flag to TRUE if the patient already has the Device you wish to activate, and only\nthe Gateway needs to be shipped. In this case, you will only be charged for the Gateway.\n\nYou can also optionally link this Device to a Patient by including a nested Patient object. If you do this,\nthe \"external_id\" field can be used to uniquely identify this Patient. For example,\nif you edit the name or phone_number of a Patient, those fields will be updated for all\nDevices with the same Patient external_id. We thus recommend Clients use a unique Patient\nidentifier from their own systems for this field (hence the name \"external_id\").\n\nNote, the external_id value in the Patient object will be included in the \"patient_id\" field in all FULFILLMENT\nand MEASUREMENT webhook callbacks, allowing Clients to link those callbacks to a patient in their systems, even\nif the related hardware_uuid values change (for example, if a Tenovi Gateway is replaced). Thus, the use of this\nfield is strongly recommended. See the Webhooks documentation for more details.\n\nIf a phone number is included in the Patient object, we may use it to text/call the patient to resolve\ncustomer service requests or for any optional services (for example, sms shipping notifications). If you have\nnot obtained the patient's consent to receive SMS messages, please set the sms_opt_in field to False.\n\nIf the physician field is included in the Patient object, this data will be forwarded to our fulfillment team\n(if dropshipping is requested) to allow for any per-provider shipping customizations (additional charges may\napply).\n\nPlease note, the patient_id and patient_phone_number fields are deprecated in favor of the nested Patient\nobject, but remain available for backwards compatibility.", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/HwiDevice"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/HwiDevice"}}}, "tags": ["hwi-devices"]}, "parameters": []}, "/hwi-devices/{hwi_device_id}/measurements/": {"get": {"operationId": "hwi-devices_measurements_list", "summary": "Lists all measurement data for a given HWI Device", "description": "The root HWI Device id must be included in the url.\n\nNote, the \"timestamp\" field represents the time the measurement was actually taken, as measured by the device.\nThe \"created\" field represents the time the measurement was created on our server. For backwards compatibility,\nthe MEASUREMENT Webhook posts the \"timestamp\" value with both the \"timestamp\" and \"created\" key, which may not\nmatch the \"created\" value returned here. Please note the difference between these two fields when filtering via\nquery parameters.", "parameters": [{"name": "metric__name", "in": "query", "description": "metric__name", "required": false, "type": "string"}, {"name": "created__gte", "in": "query", "description": "created__gte", "required": false, "type": "string"}, {"name": "created__lt", "in": "query", "description": "created__lt", "required": false, "type": "string"}, {"name": "timestamp__gte", "in": "query", "description": "timestamp__gte", "required": false, "type": "string"}, {"name": "timestamp__lt", "in": "query", "description": "timestamp__lt", "required": false, "type": "string"}, {"name": "search", "in": "query", "description": "A search term.", "required": false, "type": "string"}], "responses": {"200": {"description": "", "schema": {"type": "array", "items": {"$ref": "#/definitions/HwiMeasurement"}}}}, "tags": ["hwi-device-measurements"]}, "parameters": [{"name": "hwi_device_id", "in": "path", "required": true, "type": "string"}]}, "/hwi-devices/{hwi_device_id}/properties/": {"get": {"operationId": "hwi-devices_properties_list", "summary": "Lists all or reads a single Property for a given HWI Device", "description": "These properties can be used for controlling device-specific settings (e.g. the Step Goals for the Tenovi\nWatch), or for adding custom, client-defined tags to individual devices (as long as the keys used do not conflict\nwith a pre-defined Tenovi key). See https://tenovi.com/api-docs for a list of device-specific Properties.\n\nAll devices support a \"measurement_webhook_id\" property that configures a Device to only send measurement data to\na single Webhook (specified by that Webhook’s primary ID).\n\nFor device-specific settings, the \"synced\" field can be used to check if the setting has been successfully\napplied to the device or not. Note, syncing often requires the device to connect to our network, which, for\nsome devices, only occurs when a measurement is taken).", "parameters": [{"name": "search", "in": "query", "description": "A search term.", "required": false, "type": "string"}], "responses": {"200": {"description": "", "schema": {"type": "array", "items": {"$ref": "#/definitions/ClientDeviceProperties"}}}}, "tags": ["hwi-device-properties"]}, "post": {"operationId": "hwi-devices_properties_create", "summary": "Creates a new HWI Device Property with a key-value pair", "description": "This endpoint can be used to manage any device-specific properties, such as setting the step goal\non the Tenovi Watch device. Please see our detailed Device documentation at https://tenovi.com/api-docs\nfor more details.\n\nThis endpoint can also be used for adding any client-specific properties clients wish to use for\ninternal purposes (for example, to tag devices), as long as the keys used do not conflict with any special\nuse keys described in the Tenovi documentation.\n\nNote, keys must be unique for a given device. If you try and create a property with an existing key,\nthe existing key-value pair will simply be updated instead.", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/ClientDeviceProperties"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/ClientDeviceProperties"}}}, "tags": ["hwi-device-properties"]}, "parameters": [{"name": "hwi_device_id", "in": "path", "required": true, "type": "string"}]}, "/hwi-devices/{hwi_device_id}/properties/{id}/": {"get": {"operationId": "hwi-devices_properties_read", "summary": "Lists all or reads a single Property for a given HWI Device", "description": "These properties can be used for controlling device-specific settings (e.g. the Step Goals for the Tenovi\nWatch), or for adding custom, client-defined tags to individual devices (as long as the keys used do not conflict\nwith a pre-defined Tenovi key). See https://tenovi.com/api-docs for a list of device-specific Properties.\n\nAll devices support a \"measurement_webhook_id\" property that configures a Device to only send measurement data to\na single Webhook (specified by that Webhook’s primary ID).\n\nFor device-specific settings, the \"synced\" field can be used to check if the setting has been successfully\napplied to the device or not. Note, syncing often requires the device to connect to our network, which, for\nsome devices, only occurs when a measurement is taken).", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/ClientDeviceProperties"}}}, "tags": ["hwi-device-properties"]}, "put": {"operationId": "hwi-devices_properties_update", "summary": "Updates a HWI Device Property.", "description": "You may only update the value for a given key-value pair.\n\nNote, since the POST method falls back to a PUT if the key provided already exists, you may use that method\nto update properties without having to lookup the id for the desired key-value pair first.", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/ClientDeviceProperties"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/ClientDeviceProperties"}}}, "tags": ["hwi-device-properties"]}, "patch": {"operationId": "hwi-devices_properties_partial_update", "summary": "Updates a HWI Device Property.", "description": "You may only update the value for a given key-value pair.\n\nNote, since the POST method falls back to a PUT if the key provided already exists, you may use that method\nto update properties without having to lookup the id for the desired key-value pair first.", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/ClientDeviceProperties"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/ClientDeviceProperties"}}}, "tags": ["hwi-device-properties"]}, "delete": {"operationId": "hwi-devices_properties_delete", "summary": "Lists all or reads a single Property for a given HWI Device", "description": "These properties can be used for controlling device-specific settings (e.g. the Step Goals for the Tenovi\nWatch), or for adding custom, client-defined tags to individual devices (as long as the keys used do not conflict\nwith a pre-defined Tenovi key). See https://tenovi.com/api-docs for a list of device-specific Properties.\n\nAll devices support a \"measurement_webhook_id\" property that configures a Device to only send measurement data to\na single Webhook (specified by that Webhook’s primary ID).\n\nFor device-specific settings, the \"synced\" field can be used to check if the setting has been successfully\napplied to the device or not. Note, syncing often requires the device to connect to our network, which, for\nsome devices, only occurs when a measurement is taken).", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["hwi-device-properties"]}, "parameters": [{"name": "hwi_device_id", "in": "path", "required": true, "type": "string"}, {"name": "id", "in": "path", "required": true, "type": "string"}]}, "/hwi-devices/{id}/": {"get": {"operationId": "hwi-devices_read", "summary": "Lists all or Reads a single HWI Device", "description": "To read a single HWI Device, the ID must be included in the URL.", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/HwiDevice"}}}, "tags": ["hwi-devices"]}, "put": {"operationId": "hwi-devices_update", "summary": "Updates a HWI Device.", "description": "The object ID must be included in the url for updates.\n\nOnly the Patient object can be updated. All other fields will be ignored.\n\nNote, when updating a Patient object, if you update the external_id, only the current Device will be updated.\nIf the new external_id is already assigned to another Patient object, that existing Patient will be linked to\nthe updated Device with its existing fields updated using the data provided in the update request.\n\nIf you update any other fields (e.g. name or phone_number) without changing the external_id, those fields will\nbe updated for ALL Devices linked to the Patient object with that external_id.\n\nIf you wish to remove a Patient from a device, set the Patient object to null. This will not affect any other\nDevices linked to the Patient object with that external_id.\n\nPlease note, the patient_id and patient_phone_number fields are deprecated in favor of the nested Patient\nobject. They remain available for backwards compatibility, but may lead to unpredictable behavior if you\ninclude both these fields and the Patient object in an update request.", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/HwiDevice"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/HwiDevice"}}}, "tags": ["hwi-devices"]}, "patch": {"operationId": "hwi-devices_partial_update", "summary": "Updates a HWI Device.", "description": "The object ID must be included in the url for updates.\n\nOnly the patient_id and patient_phone_number fields can be updated. All other fields will be ignored.", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/HwiDevice"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/HwiDevice"}}}, "tags": ["hwi-devices"]}, "delete": {"operationId": "hwi-devices_delete", "summary": "Deactivates a HWI Device by removing it completely from a Client's account.", "description": "Note, HWI Devices with a Fulfillment Request cannot be deleted once that Request has been fulfilled. In this\ncase, use the /unlink-gateway/ endpoint to deactivate a HWI Device. Charges may apply for any HWI Device\nwith an active Gateway linked to it.", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["hwi-devices"]}, "parameters": [{"name": "id", "in": "path", "description": "A UUID string identifying this Client Devices.", "required": true, "type": "string", "format": "uuid"}]}, "/hwi-gateways/": {"get": {"operationId": "hwi-gateways_list", "summary": "Get useful information about gateways that have been previously associated with your account.", "description": "NOTE, This endpoint can only be used for retrieving information about gateways that have either been\npreviously linked with one or more of your own devices (e.g. via an Activation/Fulfillment request) or\nPre-Activated via a bulk order.\nIt can NOT be used to \"pre-validate\" a gateway ID that is not already associated with your account.\n\nFor the last_signal_strength field, a signal strength value of 30 or above is considered excellent,\nwhile a signal strength value of 10 or below is considered poor.\n\nFor the \"ordering\" query parameter, valid options are \"assigned_on\", \"shipped_on\", and \"last_measurement\".\nPrepend a \"-\" to order by descending values (e.g. \"-last_measurement\"). Default is -assigned_on.\n\nResults are paginated. Use the page_size and page fields to modify the pagination settings.", "parameters": [{"name": "last_measurement__isnull", "in": "query", "description": "last_measurement__isnull", "required": false, "type": "string"}, {"name": "shipped_on__isnull", "in": "query", "description": "shipped_on__isnull", "required": false, "type": "string"}, {"name": "search", "in": "query", "description": "A search term.", "required": false, "type": "string"}, {"name": "ordering", "in": "query", "description": "Which field to use when ordering the results.", "required": false, "type": "string"}, {"name": "page", "in": "query", "description": "A page number within the paginated result set.", "required": false, "type": "integer"}, {"name": "page_size", "in": "query", "description": "Number of results to return per page.", "required": false, "type": "integer"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/HwiGateways"}}}}}}, "tags": ["hwi-gateways"]}, "parameters": []}, "/hwi-gateways/{gateway_uuid__iexact}/": {"get": {"operationId": "hwi-gateways_read", "summary": "Get useful information about gateways that have been previously associated with your account.", "description": "NOTE, This endpoint can only be used for retrieving information about gateways that have either been\npreviously linked with one or more of your own devices (e.g. via an Activation/Fulfillment request) or\nPre-Activated via a bulk order.\nIt can NOT be used to \"pre-validate\" a gateway ID that is not already associated with your account.\n\nFor the last_signal_strength field, a signal strength value of 30 or above is considered excellent,\nwhile a signal strength value of 10 or below is considered poor.\n\nFor the \"ordering\" query parameter, valid options are \"assigned_on\", \"shipped_on\", and \"last_measurement\".\nPrepend a \"-\" to order by descending values (e.g. \"-last_measurement\"). Default is -assigned_on.\n\nResults are paginated. Use the page_size and page fields to modify the pagination settings.", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/HwiGateways"}}}, "tags": ["hwi-gateways"]}, "parameters": [{"name": "gateway_uuid__iexact", "in": "path", "required": true, "type": "string"}]}, "/hwi-patients/": {"get": {"operationId": "hwi-patients_list", "summary": "Lists all or reads a single Patient object", "description": "The client-provided \"external_id\" field must be used as the lookup field for direct GET requests.\n\nThis endpoint can be used for getting and updating data on patient objects directly.\n\nIf a full address has been provided, the address_status field will indicate if that address has been Verified\nor is Invalid.", "parameters": [{"name": "search", "in": "query", "description": "A search term.", "required": false, "type": "string"}, {"name": "page", "in": "query", "description": "A page number within the paginated result set.", "required": false, "type": "integer"}, {"name": "page_size", "in": "query", "description": "Number of results to return per page.", "required": false, "type": "integer"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/HwiPatientDetails"}}}}}}, "tags": ["hwi-patients"]}, "post": {"operationId": "hwi-patients_create", "summary": "Creates a new Patient Object", "description": "The external_id field is required and must be unique for each patient.\n\nIf a full address is provided, our system will attempt to verify it.\nThis internal verification process can be overruled by setting the \"confirm_address\" flag to True.", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/HwiPatientDetails"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/HwiPatientDetails"}}}, "tags": ["hwi-patients"]}, "parameters": []}, "/hwi-patients/{external_id__iexact}/": {"get": {"operationId": "hwi-patients_read", "summary": "Lists all or reads a single Patient object", "description": "The client-provided \"external_id\" field must be used as the lookup field for direct GET requests.\n\nThis endpoint can be used for getting and updating data on patient objects directly.\n\nIf a full address has been provided, the address_status field will indicate if that address has been Verified\nor is Invalid.", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/HwiPatientDetails"}}}, "tags": ["hwi-patients"]}, "put": {"operationId": "hwi-patients_update", "summary": "Updates a Patient object.", "description": "The client-provided \"external_id\" field must be used as the lookup field for PUT/PATCH requests.\n\nIf the patient's address if modified, our system will attempt to verify it.\nThis internal verification process can be overruled by setting the \"confirm_address\" flag to True.", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/HwiPatientDetails"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/HwiPatientDetails"}}}, "tags": ["hwi-patients"]}, "patch": {"operationId": "hwi-patients_partial_update", "summary": "Updates a Patient object.", "description": "The client-provided \"external_id\" field must be used as the lookup field for PUT/PATCH requests.\n\nIf the patient's address if modified, our system will attempt to verify it.\nThis internal verification process can be overruled by setting the \"confirm_address\" flag to True.", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/HwiPatientDetails"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/HwiPatientDetails"}}}, "tags": ["hwi-patients"]}, "delete": {"operationId": "hwi-patients_delete", "summary": "Lists all or reads a single Patient object", "description": "The client-provided \"external_id\" field must be used as the lookup field for direct GET requests.\n\nThis endpoint can be used for getting and updating data on patient objects directly.\n\nIf a full address has been provided, the address_status field will indicate if that address has been Verified\nor is Invalid.", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["hwi-patients"]}, "parameters": [{"name": "external_id__iexact", "in": "path", "required": true, "type": "string"}]}, "/hwi-replacements/": {"get": {"operationId": "hwi-replacements_list", "summary": "Lists all Replacements.", "description": "Use the query parameter \"fulfilled\" to filter your responses by Replacement Requests that have been fulfilled or not.", "parameters": [{"name": "fulfilled", "in": "query", "description": "fulfilled", "required": false, "type": "string"}, {"name": "search", "in": "query", "description": "A search term.", "required": false, "type": "string"}], "responses": {"200": {"description": "", "schema": {"type": "array", "items": {"$ref": "#/definitions/HwiReplacements"}}}}, "tags": ["hwi-replacements"]}, "post": {"operationId": "hwi-replacements_create", "summary": "Creates a new Replacement Order for a given Client Device", "description": "This endpoint can be used to request a replacement Device, Gateway, or both. Simply include an array of objects\nwith a name field indicating the Device you wish to be shipped in the device_types field. For Gateway\nreplacements, simply use \"Gateway\" as the device name.\n\nNote, the hwi_device_id is required in order for the replacement to be linked to an underlying HWI Device.\nIf you are requesting a replacement Gateway, Tenovi will automatically update the hardware_uuid of any\nHWI Devices linked to the same Gateway as the referenced HWI Device. Our system will send a Fulfillment\nWebhook with the updated Gateway ID when the replacement is shipped.\n\nThe \"notify_emails\" field can include comma-separated email addresses; shipping updates will be sent to this\nlist", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/HwiReplacements"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/HwiReplacements"}}}, "tags": ["hwi-replacements"]}, "parameters": []}, "/hwi-replacements/{id}/": {"delete": {"operationId": "hwi-replacements_delete", "summary": "Cancels a pending Replacement", "description": "Note, Replacements cannot be deleted once they have been fulfilled", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["hwi-replacements"]}, "parameters": [{"name": "id", "in": "path", "required": true, "type": "string"}]}, "/patients/{patient_external_id}/measurements/": {"get": {"operationId": "patients_measurements_list", "summary": "Lists all measurement data for a given patient id.", "description": "The patient_id value used during HWI Device creation must be included in the url.\n\nNote, the \"timestamp\" field represents the time the measurement was actually taken, as measured by the device.\nThe \"created\" field represents the time the measurements was created on our server. For backwards compatibility,\nthe MEASUREMENT Webhook posts the \"timestamp\" value with both the \"timestamp\" and \"created\" key, which may not\nmatch the \"created\" value returned here. Please note the difference between these two fields when filtering via\nquery parameters.", "parameters": [{"name": "metric__name", "in": "query", "description": "metric__name", "required": false, "type": "string"}, {"name": "created__gte", "in": "query", "description": "created__gte", "required": false, "type": "string"}, {"name": "created__lt", "in": "query", "description": "created__lt", "required": false, "type": "string"}, {"name": "timestamp__gte", "in": "query", "description": "timestamp__gte", "required": false, "type": "string"}, {"name": "timestamp__lt", "in": "query", "description": "timestamp__lt", "required": false, "type": "string"}, {"name": "search", "in": "query", "description": "A search term.", "required": false, "type": "string"}], "responses": {"200": {"description": "", "schema": {"type": "array", "items": {"$ref": "#/definitions/HwiMeasurement"}}}}, "tags": ["hwi-patient-measurements"]}, "parameters": [{"name": "patient_external_id", "in": "path", "required": true, "type": "string"}]}, "/resend-webhooks/": {"post": {"operationId": "resend-webhooks_create", "summary": "Resends measurement data.", "description": "Resends measurement data to all webhooks for the specified event. Requires a `measurement_id` to be passed,\nand optionally target `webhook_ids`.", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/ResendWebhooks"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/ResendWebhooks"}}}, "tags": ["hwi-resend-webhooks"]}, "parameters": []}, "/test-webhooks/": {"post": {"operationId": "test-webhooks_create", "summary": "Sends test data to all webhooks for the specified event.", "description": "The data fields are optional, but can be used to set specific values to be used in the test data.", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/WebhooksTesting"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/WebhooksTesting"}}}, "tags": ["hwi-test-webhooks"]}, "parameters": []}, "/unlink-gateway/{id}/": {"get": {"operationId": "unlink-gateway_read", "summary": "Unlinks a Gateway from a HWI Device", "description": "The root HWI Device id must be included in the URL. If successful, the HWI Device object will be returned with\nthe device.hardware_uuid field set to NULL. At this point, that Gateway can be re-used with a new HWI Device.", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/HwiDevice"}}}, "tags": ["hwi-unlink-gateway"]}, "parameters": [{"name": "id", "in": "path", "description": "A UUID string identifying this Client Devices.", "required": true, "type": "string", "format": "uuid"}]}, "/webhooks/": {"get": {"operationId": "webhooks_list", "summary": "Lists all or Reads a single Webhook.", "description": "MEASUREMENT webhooks will fire whenever a new measurement is received by the Tenovi platform from any\nactivated HWI Device. The MEASUREMENT webhook will POST the following json data to the provided endpoint. Note,\nthis endpoint can be configured to POST data as an array of JSON data, with related measurements (e.g, pulse\nand blood pressure readings captured in a single BPM reading) grouped together in the same array.\n\nNote, MEAUSUREMENT webhooks can also be globally disabled or enabled using the enabled_by_default flag. The\nmeasurement_webhook_id clientDeviceProperty can be used to selectively enable a measurement webhook for a\nspecific device, even if that Webhook is not enabled by default.\n\n    {\n      \"metric\": \"metric_name\", // see tenovi.com/hwi-device-overview/ for a list of valid metric_names per device\n      \"device_name\": \"device_name\", // the name of the Device used to take this measurement\n      \"hwi_device_id\": \"12345678-abcd-1234-abcd-1234567890ab\", // the primary id returned on hwi device activation\n      \"patient_id\": \"patient_id\", // the patient.external_id value provided during hwi-device creation\n      \"hardware_uuid\": \"1234abcd5678\", // Tenovi Gateway ID or other Hardware Identifier (e.g. IMEI)\n      \"sensor_code\": \"\", // the Sensor Code of the device used to take this measurement\n                         // For devices that require sensor_ids, this field will be \"[sensor_code]-[sensor_id]\"\n      \"value_1\": \"100.00\", // The primary reading value, formatted as a 2-decimal point string\n      \"value_2\": \"0.00\",  // A secondary value (when applicable) See tenovi.com/hwi-device-overview/ for details\n      \"timestamp\": \"2022-01-25T14:35:46.198000Z\", // The time the measurement was taken, as measured by the device\n      \"timezone_offset\": -7, // Difference (in hours) between TZ where measurement was taken and UTC\n      \"created\": \"2022-01-25T14:35:46.198Z000\", // The time the measurement was received by our server, in UTC\n      \"estimated_timestamp\": False, // Boolean indicating if the 'timestamp' field is an algorithmic estimate,\n                                    // which is used if the timestamp from the device is in an invalid range\n      \"filter_params\": {} // JSON data of key-value pairs. See tenovi.com/hwi-device-overview/ for details\n    }\n\nFULFILLMENT webhooks will fire whenever a Fulfillment Request associated with a HWI Device is updated.\nThe FULFILLMENT webhook will post the following json data to the provided endpoint:\n\n    {\n      \"patient_id\": \"patient_id\", // The patient.external_id value set during hwi-device creation\n      \"device_name\": \"device_name\", // see hwi-devices for valid device names\n      \"hwi_device_id\": \"12345678-abcd-1234-abcd-1234567890ab\", // the root id returned on HWI Device creation\n      \"device_id\": \"4321DCBA8765\", // For \"Replaced\" or \"Unlinked\" webhooks only, indicates the PRIOR hardware_uuid\n      \"hardware_uuid\": \"1234abcd5678\", // The current Tenovi Gateway ID or other Hardware Identifier for this device\n      \"sensor_code\": \"\", // see hwi-devices for valid sensor codes\n      \"status\": \"status\", // Readable fulfillment status: Pending Shipment, Dropship Requested, Shipped,\n                          // Dropshipped, Delivered, Returned, Connected, Replaced, or Unlinked\n      \"tracking_link\": // The tracking link for this device, if it has been shipped\n    }", "parameters": [{"name": "search", "in": "query", "description": "A search term.", "required": false, "type": "string"}], "responses": {"200": {"description": "", "schema": {"type": "array", "items": {"$ref": "#/definitions/Webhooks"}}}}, "tags": ["hwi-webhooks"]}, "post": {"operationId": "webhooks_create", "summary": "Creates a Webhook.", "description": "If an auth_header is required, the full Authorization header must be included in the auth_header field\n(e.g. \"Token XXXXX\" or \"Bearer XXXXXX\").\n\nThe default header key for the auth_header value is \"Authorization\". If you need a different header key,\ninclude it in the \"auth_key\" field.\n\nThe \"event\" field must be set to either \"MEASUREMENT\" or \"FULFILLMENT\" to create a Webhook for the\ncorresponding event type.\n\nThe \"post_as_array\" field only applies to MEASUREMENT webhooks.", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/Webhooks"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/Webhooks"}}}, "tags": ["hwi-webhooks"]}, "parameters": []}, "/webhooks/{id}/": {"get": {"operationId": "webhooks_read", "summary": "Lists all or Reads a single Webhook.", "description": "MEASUREMENT webhooks will fire whenever a new measurement is received by the Tenovi platform from any\nactivated HWI Device. The MEASUREMENT webhook will POST the following json data to the provided endpoint. Note,\nthis endpoint can be configured to POST data as an array of JSON data, with related measurements (e.g, pulse\nand blood pressure readings captured in a single BPM reading) grouped together in the same array.\n\nNote, MEAUSUREMENT webhooks can also be globally disabled or enabled using the enabled_by_default flag. The\nmeasurement_webhook_id clientDeviceProperty can be used to selectively enable a measurement webhook for a\nspecific device, even if that Webhook is not enabled by default.\n\n    {\n      \"metric\": \"metric_name\", // see tenovi.com/hwi-device-overview/ for a list of valid metric_names per device\n      \"device_name\": \"device_name\", // the name of the Device used to take this measurement\n      \"hwi_device_id\": \"12345678-abcd-1234-abcd-1234567890ab\", // the primary id returned on hwi device activation\n      \"patient_id\": \"patient_id\", // the patient.external_id value provided during hwi-device creation\n      \"hardware_uuid\": \"1234abcd5678\", // Tenovi Gateway ID or other Hardware Identifier (e.g. IMEI)\n      \"sensor_code\": \"\", // the Sensor Code of the device used to take this measurement\n                         // For devices that require sensor_ids, this field will be \"[sensor_code]-[sensor_id]\"\n      \"value_1\": \"100.00\", // The primary reading value, formatted as a 2-decimal point string\n      \"value_2\": \"0.00\",  // A secondary value (when applicable) See tenovi.com/hwi-device-overview/ for details\n      \"timestamp\": \"2022-01-25T14:35:46.198000Z\", // The time the measurement was taken, as measured by the device\n      \"timezone_offset\": -7, // Difference (in hours) between TZ where measurement was taken and UTC\n      \"created\": \"2022-01-25T14:35:46.198Z000\", // The time the measurement was received by our server, in UTC\n      \"estimated_timestamp\": False, // Boolean indicating if the 'timestamp' field is an algorithmic estimate,\n                                    // which is used if the timestamp from the device is in an invalid range\n      \"filter_params\": {} // JSON data of key-value pairs. See tenovi.com/hwi-device-overview/ for details\n    }\n\nFULFILLMENT webhooks will fire whenever a Fulfillment Request associated with a HWI Device is updated.\nThe FULFILLMENT webhook will post the following json data to the provided endpoint:\n\n    {\n      \"patient_id\": \"patient_id\", // The patient.external_id value set during hwi-device creation\n      \"device_name\": \"device_name\", // see hwi-devices for valid device names\n      \"hwi_device_id\": \"12345678-abcd-1234-abcd-1234567890ab\", // the root id returned on HWI Device creation\n      \"device_id\": \"4321DCBA8765\", // For \"Replaced\" or \"Unlinked\" webhooks only, indicates the PRIOR hardware_uuid\n      \"hardware_uuid\": \"1234abcd5678\", // The current Tenovi Gateway ID or other Hardware Identifier for this device\n      \"sensor_code\": \"\", // see hwi-devices for valid sensor codes\n      \"status\": \"status\", // Readable fulfillment status: Pending Shipment, Dropship Requested, Shipped,\n                          // Dropshipped, Delivered, Returned, Connected, Replaced, or Unlinked\n      \"tracking_link\": // The tracking link for this device, if it has been shipped\n    }", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Webhooks"}}}, "tags": ["hwi-webhooks"]}, "put": {"operationId": "webhooks_update", "summary": "Updates a Webhook.", "description": "The object ID must be included in the url for updates.", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/Webhooks"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Webhooks"}}}, "tags": ["hwi-webhooks"]}, "patch": {"operationId": "webhooks_partial_update", "summary": "Updates a Webhook.", "description": "The object ID must be included in the url for updates.", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/Webhooks"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Webhooks"}}}, "tags": ["hwi-webhooks"]}, "delete": {"operationId": "webhooks_delete", "summary": "Lists all or Reads a single Webhook.", "description": "MEASUREMENT webhooks will fire whenever a new measurement is received by the Tenovi platform from any\nactivated HWI Device. The MEASUREMENT webhook will POST the following json data to the provided endpoint. Note,\nthis endpoint can be configured to POST data as an array of JSON data, with related measurements (e.g, pulse\nand blood pressure readings captured in a single BPM reading) grouped together in the same array.\n\nNote, MEAUSUREMENT webhooks can also be globally disabled or enabled using the enabled_by_default flag. The\nmeasurement_webhook_id clientDeviceProperty can be used to selectively enable a measurement webhook for a\nspecific device, even if that Webhook is not enabled by default.\n\n    {\n      \"metric\": \"metric_name\", // see tenovi.com/hwi-device-overview/ for a list of valid metric_names per device\n      \"device_name\": \"device_name\", // the name of the Device used to take this measurement\n      \"hwi_device_id\": \"12345678-abcd-1234-abcd-1234567890ab\", // the primary id returned on hwi device activation\n      \"patient_id\": \"patient_id\", // the patient.external_id value provided during hwi-device creation\n      \"hardware_uuid\": \"1234abcd5678\", // Tenovi Gateway ID or other Hardware Identifier (e.g. IMEI)\n      \"sensor_code\": \"\", // the Sensor Code of the device used to take this measurement\n                         // For devices that require sensor_ids, this field will be \"[sensor_code]-[sensor_id]\"\n      \"value_1\": \"100.00\", // The primary reading value, formatted as a 2-decimal point string\n      \"value_2\": \"0.00\",  // A secondary value (when applicable) See tenovi.com/hwi-device-overview/ for details\n      \"timestamp\": \"2022-01-25T14:35:46.198000Z\", // The time the measurement was taken, as measured by the device\n      \"timezone_offset\": -7, // Difference (in hours) between TZ where measurement was taken and UTC\n      \"created\": \"2022-01-25T14:35:46.198Z000\", // The time the measurement was received by our server, in UTC\n      \"estimated_timestamp\": False, // Boolean indicating if the 'timestamp' field is an algorithmic estimate,\n                                    // which is used if the timestamp from the device is in an invalid range\n      \"filter_params\": {} // JSON data of key-value pairs. See tenovi.com/hwi-device-overview/ for details\n    }\n\nFULFILLMENT webhooks will fire whenever a Fulfillment Request associated with a HWI Device is updated.\nThe FULFILLMENT webhook will post the following json data to the provided endpoint:\n\n    {\n      \"patient_id\": \"patient_id\", // The patient.external_id value set during hwi-device creation\n      \"device_name\": \"device_name\", // see hwi-devices for valid device names\n      \"hwi_device_id\": \"12345678-abcd-1234-abcd-1234567890ab\", // the root id returned on HWI Device creation\n      \"device_id\": \"4321DCBA8765\", // For \"Replaced\" or \"Unlinked\" webhooks only, indicates the PRIOR hardware_uuid\n      \"hardware_uuid\": \"1234abcd5678\", // The current Tenovi Gateway ID or other Hardware Identifier for this device\n      \"sensor_code\": \"\", // see hwi-devices for valid sensor codes\n      \"status\": \"status\", // Readable fulfillment status: Pending Shipment, Dropship Requested, Shipped,\n                          // Dropshipped, Delivered, Returned, Connected, Replaced, or Unlinked\n      \"tracking_link\": // The tracking link for this device, if it has been shipped\n    }", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["hwi-webhooks"]}, "parameters": [{"name": "id", "in": "path", "description": "A UUID string identifying this Webhooks.", "required": true, "type": "string", "format": "uuid"}]}}, "definitions": {"WhitelistedDevices": {"required": ["sensor_code", "mac_address", "whitelist_status", "created", "modified"], "type": "object", "properties": {"sensor_code": {"title": "Sensor code", "type": "string", "minLength": 1}, "mac_address": {"title": "Mac address", "type": "string", "minLength": 1}, "whitelist_status": {"title": "Whitelist status", "type": "string", "enum": ["RE", "CO"]}, "created": {"title": "Created", "type": "string", "format": "date-time"}, "modified": {"title": "Modified", "type": "string", "format": "date-time"}}}, "GatewayProperties": {"required": ["key"], "type": "object", "properties": {"id": {"title": "Id", "type": "string", "format": "uuid", "readOnly": true}, "key": {"title": "Key", "type": "string", "maxLength": 255, "minLength": 1}, "value": {"title": "Value", "type": "string", "maxLength": 255, "x-nullable": true}}}, "GatewayInfo": {"required": ["gateway_uuid"], "type": "object", "properties": {"gateway_uuid": {"title": "Gateway UUID", "type": "string", "maxLength": 255, "minLength": 1}, "firmware_version": {"title": "Firmware Version", "type": "string", "maxLength": 255, "minLength": 1}, "bootloader_version": {"title": "Bootloader Version", "type": "string", "maxLength": 255, "minLength": 1}, "provisioned": {"title": "Is Provisioned?", "type": "boolean"}, "last_signal_strength": {"title": "Last Signal Strength", "type": "integer", "readOnly": true}, "last_checkin_time": {"title": "Last Checkin Time", "type": "string", "format": "date-time", "readOnly": true, "x-nullable": true}, "assigned_on": {"title": "Assigned to Client On", "type": "string", "format": "date-time", "readOnly": true, "x-nullable": true}, "shipped_on": {"title": "Shipped On", "type": "string", "format": "date-time", "readOnly": true, "x-nullable": true}, "whitelisted_devices": {"type": "array", "items": {"$ref": "#/definitions/WhitelistedDevices"}, "readOnly": true}, "properties": {"type": "array", "items": {"$ref": "#/definitions/GatewayProperties"}, "readOnly": true}}}, "HardwareUuidLogs": {"type": "object", "properties": {"id": {"title": "Id", "type": "string", "format": "uuid", "readOnly": true}, "created": {"title": "Created", "type": "string", "format": "date-time", "readOnly": true}, "modified": {"title": "Modified", "type": "string", "format": "date-time", "readOnly": true}, "object_id": {"title": "Object ID", "type": "string", "maxLength": 255, "x-nullable": true}, "device_name": {"title": "Device Name", "type": "string", "maxLength": 255, "x-nullable": true}, "old_hardware_uuid": {"title": "Old Hardware UUID", "type": "string", "maxLength": 255, "x-nullable": true}, "new_hardware_uuid": {"title": "New Hardware UUID", "type": "string", "maxLength": 255, "x-nullable": true}, "changer": {"title": "Changer", "type": "string", "maxLength": 255, "x-nullable": true}}}, "HwiBulkOrderContents": {"required": ["name", "quantity", "kit_id"], "type": "object", "properties": {"name": {"title": "Name", "type": "string", "minLength": 1}, "quantity": {"title": "Quantity", "type": "integer", "minimum": 1}, "kit_id": {"title": "Kit id", "type": "integer"}}}, "HwiBulkOrderManifest": {"required": ["order_section", "kitted_items", "loose_items"], "type": "object", "properties": {"order_section": {"title": "Order section", "type": "string", "minLength": 1}, "kitted_items": {"type": "array", "items": {"type": "object"}}, "loose_items": {"type": "array", "items": {"type": "object"}}}}, "HwiBulkOrders": {"type": "object", "properties": {"id": {"title": "Id", "type": "string", "format": "uuid", "readOnly": true}, "created": {"title": "Created", "type": "string", "format": "date-time", "readOnly": true}, "modified": {"title": "Modified", "type": "string", "format": "date-time", "readOnly": true}, "order_number": {"title": "Order Number", "type": "string", "readOnly": true, "minLength": 1}, "shipping_name": {"title": "Shipping Name", "type": "string", "maxLength": 255, "x-nullable": true}, "shipping_address": {"title": "Shipping Address", "type": "string", "maxLength": 255, "x-nullable": true}, "shipping_city": {"title": "Shipping City", "type": "string", "maxLength": 255, "x-nullable": true}, "shipping_state": {"title": "Shipping State", "type": "string", "maxLength": 255, "x-nullable": true}, "shipping_zip_code": {"title": "Shipping Zip Code", "type": "string", "maxLength": 255, "x-nullable": true}, "shipping_status": {"title": "Shipping status", "type": "string", "enum": ["DR", "RQ", "PE", "CR", "OH", "RS", "SH", "DE", "RE", "CA"], "readOnly": true}, "shipping_tracking_link": {"title": "Shipping Tracking Link", "type": "string", "format": "uri", "readOnly": true, "minLength": 1, "x-nullable": true}, "fulfilled": {"title": "Is Fulfilled?", "type": "boolean", "readOnly": true}, "requested_by": {"title": "Requested By", "type": "string", "readOnly": true, "minLength": 1, "x-nullable": true}, "shipped_on": {"title": "Shipped On Timestamp", "type": "string", "format": "date-time", "readOnly": true, "x-nullable": true}, "delivered_on": {"title": "Delivered On Timestamp", "type": "string", "format": "date-time", "readOnly": true, "x-nullable": true}, "notify_emails": {"title": "Notify Emails", "type": "string", "maxLength": 2048, "x-nullable": true}, "contents": {"type": "array", "items": {"$ref": "#/definitions/HwiBulkOrderContents"}, "readOnly": true}, "manifest": {"type": "array", "items": {"$ref": "#/definitions/HwiBulkOrderManifest"}, "readOnly": true}}}, "HwiMetrics": {"required": ["name", "primary_display_name"], "type": "object", "properties": {"name": {"title": "Name", "type": "string", "maxLength": 255, "minLength": 1}, "primary_units": {"title": "Primary Units", "type": "string", "maxLength": 255}, "primary_display_name": {"title": "Primary Display Name", "type": "string", "maxLength": 255, "minLength": 1}, "secondary_units": {"title": "Secondary Units", "type": "string", "maxLength": 255}, "secondary_display_name": {"title": "Secondary Display Name", "type": "string", "maxLength": 255}, "unified_display_name": {"title": "Unified Display Name", "type": "string", "maxLength": 255}, "type": {"title": "Metric Type", "type": "string", "enum": ["PH", "AD", "ST", "ES"], "x-nullable": true}}}, "HwiDeviceType": {"required": ["name"], "type": "object", "properties": {"id": {"title": "Id", "type": "string", "format": "uuid", "readOnly": true}, "name": {"title": "Name", "type": "string", "maxLength": 255, "minLength": 1}, "client_sku": {"title": "Client SKU", "type": "string", "maxLength": 255, "x-nullable": true}, "stock_type": {"title": "Stock Type", "type": "string", "enum": ["ST", "OD", "NS", "VI"], "x-nullable": true}, "metrics": {"type": "array", "items": {"$ref": "#/definitions/HwiMetrics"}, "readOnly": true}, "sensor_code": {"title": "Sensor Code", "type": "string", "maxLength": 3}, "image": {"title": "Image", "type": "string", "format": "uri", "maxLength": 1000, "x-nullable": true}, "up_front_cost": {"title": "Up front cost", "type": "string", "readOnly": true}, "shipping_cost": {"title": "Shipping cost", "type": "string", "readOnly": true}, "monthly_cost": {"title": "Monthly cost", "type": "string", "readOnly": true}, "sensor_id_required": {"title": "Sensor ID Required?", "type": "boolean"}, "in_stock": {"title": "Is in stock?", "type": "boolean"}, "virtual": {"title": "Is Virtual Device (No Shipping)?", "type": "boolean"}, "deprecated": {"title": "Is Deprecated?", "type": "boolean"}}}, "DeviceFulfillmentRequestSerializerForApi": {"type": "object", "properties": {"created": {"title": "Created", "type": "string", "format": "date-time", "readOnly": true}, "shipping_status": {"title": "Shipping status", "type": "string", "enum": ["PE", "CR", "OH", "RS", "SH", "DE", "DI", "CN", "RE", "CA"], "readOnly": true}, "shipping_name": {"title": "Shipping Name", "type": "string", "maxLength": 255, "x-nullable": true}, "shipping_address": {"title": "Shipping Address", "type": "string", "maxLength": 255, "x-nullable": true}, "shipping_city": {"title": "Shipping City", "type": "string", "maxLength": 255, "x-nullable": true}, "shipping_state": {"title": "Shipping State", "type": "string", "maxLength": 255, "x-nullable": true}, "shipping_zip_code": {"title": "Shipping Zip Code", "type": "string", "maxLength": 255, "x-nullable": true}, "shipped_on_behalf_of": {"title": "Shipped On Behalf Of", "type": "string", "maxLength": 255, "x-nullable": true}, "shipping_tracking_link": {"title": "Shipping Tracking Link", "type": "string", "format": "uri", "maxLength": 2000, "x-nullable": true}, "ship_gateway_only": {"title": "Ship Gateway Only?", "type": "boolean"}, "require_signature": {"title": "Require Signature?", "type": "boolean"}, "shipped_on": {"title": "Shipped On Timestamp", "type": "string", "format": "date-time", "readOnly": true, "x-nullable": true}, "delivered_on": {"title": "Delivered On Timestamp", "type": "string", "format": "date-time", "readOnly": true, "x-nullable": true}, "requested_by": {"title": "Requested By", "type": "string", "readOnly": true, "minLength": 1, "x-nullable": true}, "client_notes": {"title": "Client Notes", "type": "string"}, "notify_emails": {"title": "Notify Emails", "type": "string", "maxLength": 2048, "x-nullable": true}, "fulfilled": {"title": "Is Fulfilled?", "type": "boolean", "readOnly": true}, "client_will_fulfill": {"title": "Will Client Fulfill this Request?", "type": "boolean"}, "flagged_by_client": {"title": "Is Flagged by Client?", "type": "boolean"}, "invalid_address": {"title": "Invalid address", "type": "string", "readOnly": true}, "duplicate_device_at_address": {"title": "Duplicate Device at Address?", "type": "boolean", "readOnly": true}}, "x-nullable": true}, "DeviceSerializerForApi": {"required": ["name"], "type": "object", "properties": {"id": {"title": "Id", "type": "string", "format": "uuid", "readOnly": true}, "fulfillment_request": {"$ref": "#/definitions/DeviceFulfillmentRequestSerializerForApi"}, "created": {"title": "Created", "type": "string", "format": "date-time", "readOnly": true}, "name": {"title": "Device Name", "type": "string", "maxLength": 255, "minLength": 1}, "hardware_uuid": {"title": "Hardware UUID", "type": "string", "maxLength": 255, "x-nullable": true}, "sensor_code": {"title": "Sensor Code", "type": "string", "readOnly": true, "default": "", "minLength": 1}, "sensor_id": {"title": "Sensor ID", "type": "string", "maxLength": 255}, "device_type": {"title": "Device Type / Client SKU", "type": "string", "format": "uuid", "readOnly": true, "x-nullable": true}, "shared_hardware_uuid": {"title": "Shared Hardware UUID?", "type": "boolean", "readOnly": true}, "model_number": {"title": "Model Number", "type": "string", "readOnly": true, "minLength": 1}}}, "HwiPatient": {"type": "object", "properties": {"external_id": {"title": "External ID", "type": "string", "maxLength": 255, "x-nullable": true}, "name": {"title": "Name", "type": "string", "maxLength": 255, "x-nullable": true}, "phone_number": {"title": "Phone Number", "type": "string", "maxLength": 255, "x-nullable": true}, "email": {"title": "Email", "type": "string", "format": "email", "maxLength": 255, "x-nullable": true}, "physician": {"title": "Physician", "type": "string", "maxLength": 255, "x-nullable": true}, "clinic_name": {"title": "Clinic Name", "type": "string", "maxLength": 255, "x-nullable": true}, "care_manager": {"title": "Care Manager", "type": "string", "maxLength": 255, "x-nullable": true}, "sms_opt_in": {"title": "Is Opted In to SMS?", "type": "boolean"}}, "x-nullable": true}, "HwiDevice": {"required": ["device"], "type": "object", "properties": {"id": {"title": "Id", "type": "string", "format": "uuid", "readOnly": true}, "hwi_device_id": {"title": "Hwi device id", "type": "string", "readOnly": true, "minLength": 1}, "status": {"title": "Status", "type": "string", "readOnly": true, "minLength": 1}, "connected_on": {"title": "Connected On Timestamp", "type": "string", "format": "date-time", "readOnly": true, "x-nullable": true}, "unlinked_on": {"title": "Unlinked On Timestamp", "type": "string", "format": "date-time", "readOnly": true, "x-nullable": true}, "last_measurement": {"title": "Last Measurement Timestamp", "type": "string", "format": "date-time", "readOnly": true, "x-nullable": true}, "device": {"$ref": "#/definitions/DeviceSerializerForApi"}, "patient_id": {"title": "Patient id", "type": "string"}, "patient_phone_number": {"title": "Patient phone number", "type": "string"}, "patient": {"$ref": "#/definitions/HwiPatient"}}}, "HwiMeasurement": {"required": ["metric", "value_1", "value_2", "created", "timestamp", "estimated_timestamp"], "type": "object", "properties": {"metric": {"title": "Metric", "type": "string", "minLength": 1}, "device_name": {"title": "Device Name", "type": "string", "maxLength": 255, "x-nullable": true}, "hwi_device_id": {"title": "Hwi device id", "type": "string", "readOnly": true}, "patient_id": {"title": "Patient id", "type": "string", "readOnly": true}, "hardware_uuid": {"title": "Hardware UUID", "type": "string", "maxLength": 255, "x-nullable": true}, "sensor_code": {"title": "Sensor code", "type": "string", "readOnly": true}, "value_1": {"title": "Value 1", "type": "string", "format": "decimal"}, "value_2": {"title": "Value 2", "type": "string", "format": "decimal"}, "created": {"title": "Created", "type": "string", "format": "date-time"}, "timestamp": {"title": "Timestamp", "type": "string", "format": "date-time"}, "timezone_offset": {"title": "Timezone Offset (hours)", "type": "integer", "maximum": 2147483647, "minimum": -2147483648}, "estimated_timestamp": {"title": "Estimated timestamp", "type": "boolean"}, "filter_params": {"title": "Filter Parameters", "type": "object", "x-nullable": true}}}, "ClientDeviceProperties": {"required": ["key"], "type": "object", "properties": {"id": {"title": "Id", "type": "string", "format": "uuid", "readOnly": true}, "key": {"title": "Key", "type": "string", "maxLength": 255, "minLength": 1}, "value": {"title": "Value", "type": "string", "maxLength": 255, "x-nullable": true}, "synced": {"title": "Is synced?", "type": "boolean"}, "handle_property": {"title": "Handle property", "type": "boolean"}}}, "HwiGateways": {"required": ["gateway_uuid"], "type": "object", "properties": {"gateway_uuid": {"title": "Gateway UUID", "type": "string", "maxLength": 255, "minLength": 1}, "last_signal_strength": {"title": "Last Signal Strength", "type": "integer", "readOnly": true}, "last_measurement": {"title": "Last Measurement", "type": "string", "format": "date-time", "readOnly": true, "x-nullable": true}, "shipped_on": {"title": "Shipped On", "type": "string", "format": "date-time", "readOnly": true, "x-nullable": true}, "assigned_on": {"title": "Assigned to Client On", "type": "string", "format": "date-time", "readOnly": true, "x-nullable": true}}}, "HwiPatientDetails": {"required": ["external_id"], "type": "object", "properties": {"external_id": {"title": "External ID", "type": "string", "maxLength": 255, "x-nullable": true}, "name": {"title": "Name", "type": "string", "maxLength": 255, "x-nullable": true}, "address": {"title": "Address", "type": "string", "maxLength": 255, "x-nullable": true}, "city": {"title": "City", "type": "string", "maxLength": 255, "x-nullable": true}, "state": {"title": "State", "type": "string", "maxLength": 255, "x-nullable": true}, "zip_code": {"title": "Zip Code", "type": "string", "maxLength": 255, "x-nullable": true}, "phone_number": {"title": "Phone Number", "type": "string", "maxLength": 255, "x-nullable": true}, "email": {"title": "Email", "type": "string", "format": "email", "maxLength": 255, "x-nullable": true}, "physician": {"title": "Physician", "type": "string", "maxLength": 255, "x-nullable": true}, "clinic_name": {"title": "Clinic Name", "type": "string", "maxLength": 255, "x-nullable": true}, "care_manager": {"title": "Care Manager", "type": "string", "maxLength": 255, "x-nullable": true}, "sms_opt_in": {"title": "Is Opted In to SMS?", "type": "boolean"}, "address_status": {"title": "Address status", "type": "string", "readOnly": true, "default": "", "minLength": 1}, "address_verified_by": {"title": "Address verified by", "type": "string", "readOnly": true, "default": "", "minLength": 1}, "confirm_address": {"title": "Confirm address", "type": "boolean"}}}, "HwiReplacementDeviceTypes": {"required": ["name"], "type": "object", "properties": {"name": {"title": "Name", "type": "string", "maxLength": 255, "minLength": 1}}}, "HwiReplacements": {"required": ["device_types", "hwi_device_id"], "type": "object", "properties": {"id": {"title": "Id", "type": "string", "format": "uuid", "readOnly": true}, "device_types": {"type": "array", "items": {"$ref": "#/definitions/HwiReplacementDeviceTypes"}}, "shipping_name": {"title": "Shipping Name", "type": "string", "maxLength": 255, "x-nullable": true}, "shipping_address": {"title": "Shipping Address", "type": "string", "maxLength": 255, "x-nullable": true}, "shipping_city": {"title": "Shipping City", "type": "string", "maxLength": 255, "x-nullable": true}, "shipping_state": {"title": "Shipping State", "type": "string", "maxLength": 255, "x-nullable": true}, "shipping_zip_code": {"title": "Shipping Zip Code", "type": "string", "maxLength": 255, "x-nullable": true}, "shipping_status": {"title": "Shipping status", "type": "string", "enum": ["DR", "RQ", "PE", "CR", "OH", "RS", "SH", "DE", "RE", "CA"], "readOnly": true}, "notify_emails": {"title": "Notify Emails", "type": "string", "maxLength": 2048, "x-nullable": true}, "hwi_device_id": {"title": "Hwi device id", "type": "string", "minLength": 1}, "order_number": {"title": "Order Number", "type": "string", "readOnly": true, "minLength": 1}, "fulfilled": {"title": "Is Fulfilled?", "type": "boolean", "readOnly": true}, "created": {"title": "Created", "type": "string", "format": "date-time", "readOnly": true}, "shipped_on": {"title": "Shipped On Timestamp", "type": "string", "format": "date-time", "readOnly": true, "x-nullable": true}, "delivered_on": {"title": "Delivered On Timestamp", "type": "string", "format": "date-time", "readOnly": true, "x-nullable": true}, "shipping_tracking_link": {"title": "Shipping Tracking Link", "type": "string", "format": "uri", "readOnly": true, "minLength": 1, "x-nullable": true}}}, "ResendWebhooks": {"type": "object", "properties": {"responses": {"type": "array", "items": {"type": "object", "additionalProperties": {"type": "string", "x-nullable": true}}, "readOnly": true}, "all_failed": {"title": "All failed", "type": "boolean"}, "measurement_id": {"title": "Measurement id", "type": "string"}, "client_device_id": {"title": "Client device id", "type": "string"}, "webhook_ids": {"type": "array", "items": {"type": "string", "minLength": 1}}}}, "WebhooksTesting": {"required": ["event"], "type": "object", "properties": {"responses": {"type": "array", "items": {"type": "object", "additionalProperties": {"type": "string", "x-nullable": true}}, "readOnly": true}, "event": {"title": "Event", "type": "string", "minLength": 1}, "webhook_ids": {"type": "array", "items": {"type": "string", "minLength": 1}}, "metric": {"title": "Metric", "type": "string", "minLength": 1}, "sensor_code": {"title": "Sensor code", "type": "string"}, "device_name": {"title": "Device name", "type": "string", "minLength": 1}, "patient_id": {"title": "Patient id", "type": "string"}, "value": {"title": "Value", "type": "string", "format": "decimal"}, "secondary_value": {"title": "Secondary value", "type": "string", "format": "decimal"}, "device_id": {"title": "Device id", "type": "string", "minLength": 1}, "hardware_uuid": {"title": "Hardware uuid", "type": "string", "minLength": 1}, "hwi_device_id": {"title": "Hwi device id", "type": "string", "minLength": 1}, "status": {"title": "Status", "type": "string", "minLength": 1}, "timestamp": {"title": "Timestamp", "type": "string", "format": "date-time"}, "timezone_offset": {"title": "Timezone offset", "type": "integer"}, "estimated_timestamp": {"title": "Estimated timestamp", "type": "boolean"}, "created": {"title": "Created", "type": "string", "format": "date-time"}, "filter_params": {"title": "Filter params", "type": "object", "x-nullable": true}}}, "Webhooks": {"required": ["endpoint"], "type": "object", "properties": {"id": {"title": "Id", "type": "string", "format": "uuid", "readOnly": true}, "created": {"title": "Created", "type": "string", "format": "date-time", "readOnly": true}, "modified": {"title": "Modified", "type": "string", "format": "date-time", "readOnly": true}, "endpoint": {"title": "Endpoint", "type": "string", "format": "uri", "maxLength": 512, "minLength": 1}, "auth_header": {"title": "Authorization Header", "type": "string", "maxLength": 255, "x-nullable": true}, "auth_key": {"title": "Authorization Key", "type": "string", "maxLength": 255, "x-nullable": true}, "event": {"title": "Event", "type": "string", "enum": ["MEASUREMENT", "FULFILLMENT"]}, "post_as_array": {"title": "Post as Array?", "type": "boolean"}, "enabled_by_default": {"title": "Enabled by Default?", "type": "boolean"}}}}}